# Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized**

**Objetives**
1. Insertar y eliminar celda de codigo
2. Escribir comentarios en Python
3. Crear y utilizar celdas Markdown

# Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. C++
4. C

# Some of the commonly used libraries used by Data Scientits include:
1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
|--------------------|
| JupyterLab |
| Anaconda |
| SaaS |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [12]:
# This sill convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Autor
Andres Navarrete Oyarce